discord.py==1.7.3
redis
aiohttp
async-timeout
attrs==21.4.0
chardet==4.0.0
Deprecated==1.2.13
discord==1.7.3
discord.py==1.7.3
idna==3.3
importlib-metadata==4.12.0
multidict==6.0.2
packaging==21.3
pip==19.0.3
pyparsing==3.0.9
redis==4.3.4
setuptools==40.8.0
typing-extensions==4.3.0
wrapt==1.14.1
yarl==1.7.2
zipp==3.8.1
